<h2>Disciplinas Matriculadas</h2>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nome</th>
    <th>Dia</th>
    <th>Hora</th>
    <th>Ementa</th>
  </tr>
  <tr *ngFor="let materia of materias.getList(); index as i">
    <td>{{ materia.codigo }}</td>
    <td>{{ materia.nome }}</td>
    <td>{{ materia.dia }}</td>
    <td>{{ materia.hora }}</td>
    <td><a [routerLink]="['marmore-ementa', i]">Link Ementa</a></td>
    <td><button (click)="materias.remove(i)">Apagar disciplina</button></td>
  </tr>
</table>
